/* Center the main game container */
.game-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/game-bg.png');
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffee00;
  text-align: center;
  }
  
  .game-container h2 {
    font-size: 50px;
    font-weight: bold;
    color: #ffee00;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .question-image {
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .answer-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    color: #000000;
    border-radius: 5px;
  }

  .submit-button {
    padding: 15px 30px;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  color: #ffee00;
  border: 2px solid #ffee00;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #ffee00;
  color: #000;
  transform: scale(1.1);
  }

  .submit-button:active {
    transform: scale(1.05);
  }
  
  .score-text {
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .feedback-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .feedback-correct {
    color: #28a745; 
  }
  
  .feedback-incorrect {
    color: #dc3545;
  }
  
  .lives-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .heart {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-size: cover;
  }
  
  .yellow-heart {
    background-image: url('..//..//assets/yellow-heart.png');
  }

  .exit-button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #ffee00;
    background-color: #dc3545;
    border: 2px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    margin-top: 20px;

  }

  .exit-button:hover {
    background-color: #ffee00;
    color: #000;
    transform: scale(1.1);
  }

  .exit-button:active {
    transform: scale(1.05);
  }

  .animated-title {
    position: relative;
    animation: glitch 1s infinite;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: 2px 2px #ff00ff, -2px -2px #00ffff;
    }
    50% {
      text-shadow: -2px 2px #ff00ff, 2px -2px #00ffff;
    }
    100% {
      text-shadow: 2px -2px #ff00ff, -2px 2px #00ffff;
    }
  }