
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  background-color: #000;
  color: #ffee00;
  font-family: 'Arial', sans-serif;
}

.navbar-logo .logo-button {
  font-size: 30px;
  font-weight: bold;
  color: #ffee00;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li {
  display: inline;
}

.navbar-button {
  background: none;
  border: none;
  color: #ffee00;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
}

.logout-button {
  color: #ff4d4d;
  border-radius: 8px;
}